*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.relative{
  position: relative;
}
body{
  font-size: 15pt;
}
html::-webkit-scrollbar{
  height: 5px;
  width: 5px;
}
html::-webkit-scrollbar-track{
  background: rgba(128, 128, 128, 0.726);
  border-radius: 50px;
}
html::-webkit-scrollbar-thumb{
  background: black;
  border-radius: 50px;
}

.navbar{
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.navbar a img{
  height: 40px;
  display: block;
}
.menubtn{
  height: 10px;
  position: absolute;
  right: 30px;
  height: 30px;
  display: none;
}

.mob-nav{
  display: flex;
}




/*----header----*/
.search-bar{
  position: absolute;
  left: 30%;
  width: 30%;
  display: flex;
}
.search-bar input{
  height: 45px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid gray;
  padding: 0 20px;
}
.search-bar input::placeholder{
  font-size: 1.1rem;
}
.search-bar button{
  margin-left: -35px;
}







/*---main container----*/


.main-container{
  min-height: calc(100vh - 130px);
  position: relative;
  display: grid;
  place-items: center;
 }
 .main-container img{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
 }
 .main-container div{
  margin: auto;
  width: 90%;
 }
 .main-container div h1{
  font-size: 4rem;
  font-weight: 700;
  color: #05452a;
 }
 .main-container div p{
  margin-top: 30px;
  color: rgb(39, 38, 38);
 }
 .main-container div button{
  padding: 13px 28px;
  border: none;
  background: #05452a;
  border-radius: 50px;
  margin-top: 30px;
 }
 .main-container div button:hover{
background: rgba(17, 6, 6, 0.89);
 }
 .main-container div button a{
  color: white;
text-decoration: none;
 }

/*---category---*/


.Top-Categories{
  padding: 60px 0;
  width: 100%;
}
.Top-Categories h2{
  width: 90%;
  margin: auto;
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(39, 38, 38);
}
.Categories-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.Categories-box div{
  height: 230px;
  width: 170px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin: 0 12px;
}
.Categories-box div img{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.3s;
}
.Categories-box div:hover img{
transform: scale(1.2);
}
.Categories-box div h3{
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 700;
}

/*---card container----*/

.scrollbar-card-container{
  width: 100%;
  height: 100%;
}
.h2{
  width: 90%;
  margin: auto;
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(39, 38, 38); 
}
.card-conatiner{
  overflow: hidden;
  overflow-x: scroll;
  width: 90%;
  margin: auto !important;
  padding-bottom: 40px;
  flex-wrap: nowrap !important;
}
.card-conatiner::-webkit-scrollbar{
  height: 5px;
}
.card-conatiner::-webkit-scrollbar-track{
  background: rgba(128, 128, 128, 0.726);
  border-radius: 50px;
}
.card-conatiner::-webkit-scrollbar-thumb{
  background: black;
  border-radius: 50px;
}

.card{
  padding: 0 !important;
  min-width: 33%;
  position: relative !important;
  margin-right: 20px;
}
.heart{
  position: absolute !important;
  top: 20px !important;
  right: 20px !important;
  padding: 5px 10px !important;
  border-radius: 50%;
  transition: 0.2s;
  background: white;
}
.changeColor{
  background: #ff3040;
  color: white;
}
 
.card div{
  background: transparent;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.card div img{
  background: #f6f6f6;
  height: 280px;
  transition: 0.3s;
}
.card div img:hover{
  transform: scale(1.1);
}
.my-btn{
  background: transparent;
  border: 1px solid gray;
  color: black !important;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}
.my-btn:hover{
  background: #05452a;
  color: white !important;
}




.discount-box{
  height: calc(100vh - 150px);
  position: relative;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}
.discount-box img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.discount-box div{
  position: absolute;
  right: 50px;
  padding: 90px 60px;
  background: #05452a;
}
.discount-box div h1{
  font-size: 3rem;
  color: white;
  font-weight: 700;
  line-height: 55px;
}
.discount-box div p{
  margin-top: 20px;
  color: white;
  margin-bottom: 20px !important;
}
.discount-box div a{
  color: white !important;
  margin-top: 20px !important;
}


.footer-content div h2{
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: normal;
}
.footer-content div nav{
  margin-top: 20px;
}
.footer-content div nav li a{
  transition: 0.1s;
  
}
 
.footer-content div nav li:hover a{
  padding-left: 10px;
  color: #ff3040;
}
.footer-content div nav li a{
  font-size: 1rem;
  cursor: pointer;
}





@media(max-width: 710px){
  
  .navbar a img{
    height: 35px;
  }
  .menubtn{
    display: inline-block;
  }
  .mob-nav{
    position: absolute;
    display: flex;
    flex-flow: column;
    top: 55px;
    background: whitesmoke;
    right: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 0px;
    overflow: hidden;
    transition: 0.4s;
    height: 100vh;
    width: 0%;
    padding-left: 0px;
  }
  .openNav{
    width: 100%;
    padding-left: 10px;
  }
  
  .search-bar{
    width: 95%;
    position: relative;
    left: 5px;
  }
  .search-bar input:focus{
    outline: none;
  }
  .mob-nav nav{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;
  }
  .mob-nav nav a{
    width: 100%;
    padding: 8px 15px;
    border-bottom: 0.5px solid gray;
  }
  
  .main-container{
    width: 100%;
    background: #E7E7E740;
  }
  .main-container img{
    object-fit: cover;
  }
  .main-container div{
    width: 100%;
    padding: 15px;
  }
  .main-container div h1{
    font-size: 2.3rem;
  }
  .main-container div p{
    font-size: 0.8rem;
    color: black;
  }
  
  .Top-Categories{
    width: 100%;
  }
  .Categories-box{
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    justify-content: space-around;
    margin-top: 10px;
  }
  .Categories-box div{
    width: 47%;
    margin: 0px;
    margin-top: 20px;
  }
  
  .scrollbar-card-container section{
    margin-top: -50px;
  }
  
  .card-conatiner{
    width: 95%;
    padding-bottom: 10px;
  }
  .card{
    min-width: 100%;
  }
  .card div img{
    height: 200px;
  }
  
  .brand-box div{
    width: 100% !important;
  }
  .brand-box div div{
    width: 100%;
  }
  
  .discount-box div{
    width: 90%;
    right: 15px;
    padding: 30px 20px;
  }
  
  .discount-box div p{
    font-size: 0.9rem;
  }
}